body {
    background-color: rgb(31, 13, 65);
    }
    h1{
        text-align: center;
        font-size: 30px;
        font-style: oblique;
        color: #ffc107;
    }
    #button {
        margin: auto;
        display: grid;
        text-align: center;
        height: 50px;
        width: 250px ;
        font-size: large;
        display: flex;

    }