body {
    background-color: rgb(54, 162, 44);
    }
    h1{
        text-align: center;
        font-size: 30px;
        font-style: oblique;
        color: darkblue;
    }
    p{
        color: white;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;
        margin: ;
    }
    #button {
        margin: auto;
        display: grid;
        text-align: center;
        height: 50px;
        width: 250px ;
        font-size: large;
        display: flex;
    }
    .card {
        height: 30vh;
        width: 60vw;
        border-radius: 25px;
        margin: auto;
        background-color: black;
        box-shadow: inset;
        
    }
    form input{
        border: 25px;
        font-weight: 500;
        background-color: whitesmoke;
        font-size: 30px;
        height: 45px;
        text-align: center;
        width: 20px ;
    }
    form output{
        height: 45px;
        font-size: 30px;
        width: 250px;
        text-align: center;
        color: green;
        background-color: white;
        margin: auto;
        display: grid;
        display: flex;
        display: flow-root;
        margin-top: 30px;
​
    }
    #btn2 {
        margin: auto;
        margin-top: 40px;
        display: grid;
        height: 50px;
        text-align: center;
        width: 250px ;
        text-indent: 90px;
        font-size: large;
        display: flex;
        color: tan;
    }